 .u-section-1 {
  margin-top: 20px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 649px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 570px;
  margin: 75px 266px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 42px 252px 0 56px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 56px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 40px -8px 0 140px;
}

.u-section-1 .u-form-1 {
  height: 324px;
  width: 530px;
  margin: 9px 20px -22px 25px;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-form-group-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-form-1 {
    width: 240px;
    margin-left: 23px;
    margin-right: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 150px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 237px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 41px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 10px;
    margin-left: 77px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 8px;
    margin-right: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 78px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}