.u-section-1 .u-sheet-1 {
  min-height: 910px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 85px 56px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px auto 0 106px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px 408px 0 auto;
}

.u-section-1 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px 17px;
  width: 1140px;
  margin: 9px -14px 0 14px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 24px 24px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 9px 0 0 810px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -56px 391px 0 419px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -56px 775px 0 35px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 32px auto 0 106px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -39px 464px 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -39px 85px 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 14px 391px 0 421px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -88px 790px 0 22px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -88px 14px 0 798px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px 500px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 0 118px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 118px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -45px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 336px;
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
    height: 347px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-1 .u-text-4 {
    margin-left: 610px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 291px;
    margin-left: 319px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 610px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 207px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 383px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -27px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 2px;
    margin-right: 291px;
    margin-left: 321px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -104px;
    margin-right: 612px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: -60px;
    margin-right: 0;
    margin-left: 612px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -165px;
    margin-right: 300px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 141px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1312px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 257px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    height: 825px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-text-4 {
    margin-left: 390px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 181px;
    margin-left: 209px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 390px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 179px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -65px;
    margin-right: 181px;
    margin-left: 211px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -76px;
    margin-right: 392px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -21px;
    margin-left: 392px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -204px;
    margin-right: 80px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -78px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2383px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 193px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    height: 1896px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-text-4 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -50px;
    margin-right: 91px;
    margin-left: 119px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -50px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -362px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 220px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -39px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -25px;
    margin-right: 91px;
    margin-left: 121px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -41px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -96px;
    margin-left: 212px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -129px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 156px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -128px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1693px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -6px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -78px;
    margin-right: 122px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 1206px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -612px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 209px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -346px;
    margin-left: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 121px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -378px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1128px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2093px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1418px;
  }
}